name: Build and Push Docker Image

on:
  push:
    branches: [ "main", "develop" ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=ref,event=branch
            type=sha,format=long

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          
      # Continuous Deployment Step
      - name: Deploy to DigitalOcean Droplet
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DROPLET_IP }}
          username: root
          key: ${{ secrets.SSH_KEY }}
          envs: GITHUB_USERNAME,GHCR_PAT,POSTGRES_PASSWORD
          script: |
            echo $GHCR_PAT | docker login ghcr.io -u $GITHUB_USERNAME --password-stdin
            export POSTGRES_PASSWORD=$POSTGRES_PASSWORD
            cd /opt/hexalink
            docker compose pull
            docker compose up -d
            docker image prune -f
        env:
          GITHUB_USERNAME: ${{ github.actor }}
          GHCR_PAT: ${{ secrets.GHCR_PAT }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
